@font-face {
  font-family: 'samsung500';
  src: url('../fonts/samsung500/e500.eot');
  src: url('../fonts/samsung500/e500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/samsung500/e500.woff2') format('woff2'),
  url('../fonts/samsung500/e500.woff') format('woff'),
  url('../fonts/samsung500/e500.svg#e 500') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2081;
}
@font-face {
  font-family: 'samsung400';
  src: url('../fonts/samsung400/e400.eot');
  src: url('../fonts/samsung400/e400.eot?#iefix') format('embedded-opentype'),
  url('../fonts/samsung400/e400.woff2') format('woff2'),
  url('../fonts/samsung400/e400.woff') format('woff'),
  url('../fonts/samsung400/e400.svg#e 400') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2081;
}